<p>Your Inject Detect account has run out of credits!</p>

<p>We're no longer checking for unexpected queries made against any of your applications.</p>

<p>Add more credits to your account by setting up an automatic refill plan, or with a one time purchase of credits in <a href="<%= InjectDetect.Endpoint.url %>/account" style="color: #ea5e5e;">your account's settings</a></p>.

<p>For more information on credits and our pricing model, take a look at <a href="#" style="color: #ea5e5e;">our FAQ and guides</a>.</p>
