<p>We've detected an unexpected query in your <b><%= @application.name %></b> application.</p>

<p>See more information about the unexpected query and take action here:</p>
<p><a href="<%= InjectDetect.Endpoint.url %>/unexpected-query/<%= @unexpected_query.id %>">See unexpected query.</a></p>
