We've detected an unexpected query in your "<%= @application.name %>" application.

Click here to see the structure of the unexpected query, the number of times we've detected it, and the most similar expected query was have on file for your application.

<%= InjectDetect.Endpoint.url %>/unexpected-query/<%= @unexpected_query.id %>

For more information on unexpected queries and NoSQL Injection, take a look at our FAQ and guides.
