<p>Someone has requested to sign into your Inject Detect account. If you requested this link, <a href="<%= InjectDetect.Endpoint.url %>/verify/<%= @requested_token %>" style="color: #ea5e5e;">click here to sign into your dashboard</a> on Inject Detect.</p>
