Someone has requested to sign into your Inject Detect account. If you requested this link, click this link to sign into your dashboard on Inject Detect:
<%= InjectDetect.Endpoint.url %>/verify/<%= @requested_token %>
