<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <style>
    </style>
  </head>
  <body style="font-size:18px;max-width: 600px;font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;line-height: 1.4285em;">
    <p style="text-align: center;"><a href="http://www.injectdetect.com/"><img src="https://s3.amazonaws.com/www.injectdetect.com/logo-text.png" style="height:3em;"></a></p>
    <%= render @view_module, @view_template, assigns %>
    <p>Let me know if you have any questions or concerns,
        <br/>
        Pete from <a href="http://www.injectdetect.com/" style="color: #ea5e5e;">Inject Detect</a>.
    </p>
    <!-- <div style="border-bottom: 1px solid #ddd;"></div> -->
    <!-- <p>Don't want these emails? <a href="#" style="color: #ea5e5e;">Unsubscribe</a>.</p> -->
  </body>
</html>
