<%= render @view_module, @view_template, assigns %>

Let me know if you have any questions or concerns, 
Pete from Inject Detect.

Don't want these emails? Unsubscribe:
<%= InjectDetect.Endpoint.url %>/unsubscribe/<%= @user.unsubscribe_token %>
