.ij-application

  p.instructions
    color rgba(0,0,0,.4)
    font-size 16px
    line-height 1.6
    margin 1em 0

  .configuration.instructions
    width 60%
    margin 2em auto 0
    strong
      color #4183c4

  .message
    box-shadow none
    font-size 16px

  .content.configuration
    display flex!important
    & > div
      flex 1

  .section
    margin-top 4em

  h1.header
    font-weight 100
    text-align center
    text-transform uppercase

  h3.sub.header
    font-weight 100
    font-size 18px

  .ui.cards
    margin-top 0em
    .card
      background-color #f8f8f8
      box-shadow none
      .content
        padding 6px
        time
          margin-right 12px
        code
          line-height 40px
          padding-left 8px
      .buttons
        .button
          margin 0

  .header
    code
      display inline-block
      max-width 100%
      overflow hidden
      padding 0
      text-overflow ellipsis
      vertical-align middle

  .graphic.container
    display flex!important
    align-items center
    justify-content center

  .warning.graphic
    font-size 6em
    height auto
    color #ea5e5e

  .checkmark.graphic
    font-size 6em
    height auto
    color green