.ij-dashboard

  p.instructions
    color rgba(0,0,0,.4)
    font-size 16px
    line-height 1.6
    margin 1em 0

  .section
    margin-top 4em

  h1.header
    font-weight 100
    text-align center
    text-transform uppercase

  h3.sub.header
    font-weight 100
    font-size 18px

  .ui.cards
    margin-top 0em
    .card
      background-color #f8f8f8
      box-shadow none

//  .ui.ribbon.label
//    margin-bottom 1.3em
//    cursor default

//  .progress
//    .bar
//      height 4px

//  .right.floated.icon
//    float: right;