.ij-header
  background-color #f8f8f8 !important
  border-radius 0 !important
  border-left 0 !important
  border-right 0 !important
  border-top 0 !important

  img
    width 1.8em
    padding-right 0.5em

  button
    background-color #ea5e5e
