@import "./prism.css";

@import variables;
@import overrides;

@import application;
@import application-secret;
@import sign-in;
@import dashboard;
@import header;
@import sign-in;
@import add-application;
@import unexpected-query;
@import application-settings;

.ui.container
  width 900px

.ij-layout-content
  margin-top 45px
  margin-bottom 45px

  h1.header
    font-weight 100
    margin 1em 0 !important
    text-align center
    text-transform uppercase

  strong
    color rgba(0, 0, 0, 0.84)
