@import "./prism.css";

@import variables;
@import overrides;

@import application;
@import application-secret;
@import sign-in;
@import dashboard;
@import header;
@import sign-in;

.ui.container
  width 900px

.ij-layout-content
  margin-top calc((45px + 28px) + 4px + 24px)
  margin-bottom 14px