@import "./prism.css";

@import variables;
@import overrides;

@import application;
@import application-secret;
@import sign-in;
@import dashboard;
@import header;
@import sign-in;
@import add-application;
@import unexpected-query;

.ui.container
  width 900px

.ij-layout-content
  margin-top calc((45px + 28px) + 4px + 24px)
  margin-bottom 14px

  h1.header
    font-weight 100
    margin 1em 0 !important
    text-align center
    text-transform uppercase