.brand
  &.button
    background-color brand
    color white
  &.button:hover
    background-color lighten(brand, 10%)
    color white

p.instructions
  color rgba(0,0,0,.4)
  font-size 16px
  line-height 1.6
  margin 1em 0

.modal
  .description
    font-size 16px!important
  .description
    max-width 100%
  hr
    border 0
    border-bottom 1px solid #ddd
    margin 2em auto
  .header, .actions
    background-color #f8f8f8 !important