.ij-unexpected-query

  p.instructions
    color rgba(0,0,0,.4)
    font-size 16px
    line-height 1.6
    margin 1em 0

  .section
    margin-top 0em

  h3.sub.header
    font-weight 100
    font-size 18px

  code
    background-color #f8f8f8
    display block
    margin 1em 0
    overflow auto
    padding 1em !important
    width 100%

  strong
    color rgba(0, 0, 0, 0.84)

  .button
    display block
    margin-bottom 6px
    width 100%